@model List<PersonModel>
@{
    ViewData["Title"] = "Home Page";
          var value = ViewData["Index"]?.ToString() ?? "";
    var index = !string.IsNullOrEmpty(value) ? int.Parse(value) : 0 ;
}

<div class="text-center">
    <h1>Members List</h1>
    <div class="text-left mt-5 mb-3">
        <a class="btn btn-secondary" role="button" asp-action="Create" asp-controller="Rookies">Add new person</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-left">FullName</th>
                <th scope="col">Gender</th>
                <th scope="col">DOB</th>
                <th scope="col">BirthDay</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var person = Model[i];
                <tr>
                    <th scope="row">@(i +1)</th>
                    <td class="text-left">
                        <a asp-action="Details" asp-controller="Rookies" asp-route-id ="@i">@person.FullName</a>
                    </td>
                    <td>@person.Gender</td>
                    <td>@person.DOB?.ToString("dd/MM/yyyy")</td>
                    <td>@person.BirthDay</td>
                    <td>
                        <a class="btn btn-secondary btn-sm" role="button" asp-action="Edit" asp-controller="Rookies"
                        asp-route-index="@i">Edit</a>
                        <a class="btn btn-primary btn-sm" onclick="return ConfirmDelete()" asp-action="delete" asp-controller="Rookies" asp-route-index="@index">Delete</a>
                    </td>


                </tr>


            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function ConfirmDelete() {
        if (confirm("Do you want delete this person?")) {
            return true;
        }
        return false;
    }
</script>
