@model PersonDetailModel

@{
    ViewData["Title"] = "Details";
    var value = ViewData["Index"]?.ToString() ?? "";
    var index = !string.IsNullOrEmpty(value) ? int.Parse(value) : 0;
}
<div class="text-left">
    <h1>Infor person</h1>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <label class="form-control"> @Model.FirstName </label>
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <label class="form-control"> @Model.FirstName </label>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <label class="form-control"> @Model.LastName </label>
    </div>
    <div class="form-group">
        <label asp-for="DOB"></label>
        <label class="form-control"> @Model.DOB </label>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <label class="form-control"> @Model.PhoneNumber </label>
    </div>
    <div class="form-group">
        <label asp-for="BirthDay"></label>
        <label class="form-control"> @Model.BirthDay </label>
    </div>

    <a role="button" class="btn btn-primary" asp-action="Index" asp-controller="Rookies">Back to List </a>
    <a class="btn btn-secondary" onclick="return ConfirmDelete()" asp-action="DeleteAndRedirectToView"
        asp-controller="Rookies" asp-route-index="@index">Delete</a>



</div>

<script type="text/javascript">
    function ConfirmDelete() {
        if (confirm("Do you want delete this person?")) {
            return true;
        }
        return false;
    }
</script>
